DB_HOST=kodama.proxy.rlwy.net
DB_USER=root
DB_PASSWORD=MvHIXgtjhHZQdiujsuNMHDaDSudQppey
DB_NAME=railway
DB_PORT=11020
DB_CONNECTION_LIMIT=10
JWT_SECRET=spincycle-railway-2026-a8f91xKpQz73LmN2vB9s
JWT_EXPIRES_IN_SECONDS=43200
CORS_ORIGIN=https://laundry-frontend-app-chl.vercel.app,http://localhost,https://localhost,capacitor://localhost
FRONTEND_URL=https://laundry-frontend-app-chl.vercel.app
